html{
    background-image: url(../img/bg.jpg) !important;
}

.home{
    height: 100vh;
}
.vr-hr{
    height: 30%;
    width: 100%;
}
.vr-hr hr{
    border: none;
    border-left: 1px solid hsla(200, 10%, 50%,100);
    height: 100%;
    width: 1px;
    margin: auto;
}

.home .content hr {
    border-top: 1px solid hsla(200, 10%, 50%,100);
}

.logo{
    color: #363636;
    display: block;
    text-align: center;
    letter-spacing: 1rem;
}

.alpha{
    padding-right: 10.5rem;
}
.beta{
    padding-left: 9rem;
}
