@font-face {
    font-family: 'Bourbon';
    src: url('fonts/BourbonGrotesque-Regular.otf') format('opentype');
}

html {
    background-image: url(../img/bg.jpg) !important;
}

.landing,
.about,
.projects,
.team {
    height: 100vh;
}

.vr-hr hr {
    border-left: 1px solid hsla(200, 10%, 50%, 100);
    height: 100%;
    width: 1px;
    margin: auto;
}

.landing .card {
    margin-top: -10px;
}

.landing .content hr {
    border-top: 1px solid hsla(200, 10%, 50%, 100);
    height: 1px;
}

.logo {
    color: #363636;
    display: block;
    text-align: center;
    letter-spacing: 1rem;
}

.alpha {
    padding-right: 10.1rem;
}

.beta {
    padding-left: 8.9rem;
}
