@font-face {
    font-family: 'Bourbon';
    src: url('fonts/BourbonGrotesque-Regular.otf') format('opentype');
}

html {
    background-image: url(../img/bg.jpg) !important;
}

.landing,
.about,
.projects,
.team {
    height: 100vh;
}

.vr-hr {
    height: 150px;
}

.vr-hr hr {
    border-left: 1px solid hsla(200, 10%, 50%, 100);
    height: 100%;
    width: 1px;
    margin: auto;
}

.landing .card {
    margin-top: -20px;
}

.landing .content hr {
    border-top: 1px solid hsla(200, 10%, 50%, 100);
    height: 1px;
    width: 100%;
}

.content h1 {
    margin: 0 175px;
}

.logo {
    color: #363636;
    display: block;
    text-align: center;
    letter-spacing: 16px;
    font-size: 42px;
    user-select: none;
}

.alpha {
    padding-right: 160px;
}

.beta {
    padding-left: 140px;
}

footer {
    position: fixed;
    bottom: 7px;
}

footer, footer a, footer a:hover {
    color: black;
}

footer a:hover i {
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

@media (max-width: 800px) {
    .vr-hr {
        height: 70px;
    }

    .landing .content hr {
        margin: 10px 0;
    }

    .content h1 {
        margin: 0 10px;
    }

    .logo {
        font-size: 22px;
        letter-spacing: 8px;
    }

    .alpha {
        padding-right: 83px;
    }

    .beta {
        padding-left: 73px;
    }
}
